.information_text {
    display: block;
}

.main {
    display: none;
}

@media all and (max-width: 600px) {
    .information_text {
        display: none;
    }

    .main {
        display: block;
    }

    .product_card {
        width: 250px;
        height: 450px;
    }

    .product_name {
        font-size: 14px;
    }

    .bottom_items_row {
        column-gap: 90px;
    }

    .skeleton_main {
        width: 240px;
        height: 300px;
    }

    .skeleton_title {
        width: 240px;
        height: 12px;
    }

    .skeleton_items_row {
        width: 240px;
    }

    .rows_container {
        margin-left: 20px;
    }
}

@media all and (max-width: 500px) {
    .product_card {
        width: 180px;
        height: 350px;
    }

    .product_name {
        font-size: 12px;
    }

    .product_price {
        font-size: 14px;
    }

    .bottom_items_row {
        column-gap: 30px;
    }

    .skeleton_main {
        width: 220px;
        height: 300px;
    }

    .skeleton_title {
        width: 220px;
        height: 12px;
    }

    .skeleton_items_row {
        width: 220px;
    }
}

@media all and (max-width: 400px) {
    .product_card {
        width: 160px;
        height: 320px;
    }

    .product_name {
        font-size: 10px;
    }

    .product_price {
        font-size: 12px;
    }

    .bottom_items_row {
        column-gap: 25px;
    }

    .skeleton_main {
        width: 190px;
        height: 300px;
    }

    .skeleton_title {
        width: 190px;
        height: 12px;
    }

    .skeleton_items_row {
        width: 190px;
    }

    .rows_container {
        margin-left: 12px;
    }
}

@media all and (max-width: 300px) {
    .product_card {
        width: 150px;
        height: 320px;
    }

    .product_price {
        font-size: 10px;
    }

    .product_name {
        font-size: 14px;
    }

    .add_to_cart_icon {
        font-size: 12px;
    }
}